<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.NewDepartmentApplyMapper">

    <sql id="Base_Column_List">
        id, name, description, applicant_id, teacher_id, apply_time, approval_description, status, cover
    </sql>

    <select id="selectAll" resultType="com.example.entity.NewDepartmentApply">
        select
        nda.*, u1.name as applicantName, u2.name as teacherName
        from new_department_apply nda
        left join user u1 on nda.applicant_id = u1.id
        left join user u2 on nda.teacher_id = u2.id
        <where>
            <if test="id != null"> and nda.id = #{id}</if>
            <if test="name != null"> and nda.name like concat('%', #{name}, '%')</if>
            <if test="status != null"> and nda.status = #{status}</if>
            <if test="applicantId != null"> and nda.applicant_id = #{applicantId}</if>
            <if test="teacherId != null"> and nda.teacher_id = #{teacherId}</if>
        </where>
        order by nda.id desc
    </select>

    <select id="selectById" resultType="com.example.entity.NewDepartmentApply">
        select
        <include refid="Base_Column_List" />
        from new_department_apply
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from new_department_apply
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.NewDepartmentApply" useGeneratedKeys="true" keyProperty="id">
        insert into new_department_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
            <if test="applicantId != null">applicant_id,</if>
            <if test="teacherId != null">teacher_id,</if>
            <if test="applyTime != null">apply_time,</if>
            <if test="approvalDescription != null">approval_description,</if>
            <if test="status != null">status,</if>
            <if test="cover != null">cover,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="applicantId != null">#{applicantId},</if>
            <if test="teacherId != null">#{teacherId},</if>
            <if test="applyTime != null">#{applyTime},</if>
            <if test="approvalDescription != null">#{approvalDescription},</if>
            <if test="status != null">#{status},</if>
            <if test="cover != null">#{cover},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.NewDepartmentApply">
        update new_department_apply
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="approvalDescription != null">
                approval_description = #{approvalDescription},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="cover != null">
                cover = #{cover},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
